body {
  margin: 0;
  padding: 0;
}

html {
  text-align: center;
  background-color: #222;
  color: white;
  font-family: sans-serif;
}

#text {
  font-size: xx-large;
  text-shadow: 2px 2px #959595;
  font-weight: bold;
}

nav {
  background-image: url(https://littleredkitchenbakeshop.com/cdn/shop/files/Cookies_d5fbd508-dc76-40db-8f58-a7ea6b33bb7c.png?v=1615213834);
  background-position: center;
  background-size: cover;
  position: relative;
  height: 70px;
}

.centre {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60vw;
}

#cookiebtn {
  height: 100px;
  width: 100px;
  background-color: #a9a9a9;
  color: #fff;
  border-radius: 10px;
}

#cookiebtn:active {
  background-color: burlywood;
}

#resetbtn {
  height: 100px;
  width: 100px;
  background-color: #a9a9a9;
  border-radius: 10px;
  color: #fff;
  position: absolute;
  bottom: 0;
}

#resetbtn:active {
  background-color: burlywood;
}

footer {
  background-image: url(https://littleredkitchenbakeshop.com/cdn/shop/files/Cookies_d5fbd508-dc76-40db-8f58-a7ea6b33bb7c.png?v=1615213834);
  background-position: center;
  background-size: cover;
  position: relative;
  height: 70px;
}
